body{
    max-width: 80%;
    margin: 0 auto;
    background-image: url(./background.svg); 
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Orbitron', sans-serif;
   

}

.recipe-image{
    max-width: 400px;
}

.dishes-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dish-card{
    display: flex;
    flex-direction: column;
    transition: transform .2s;
    
}

.dish-image{
    max-width: 250px;
    
}

.dish-card:hover{
    transform: scale(1.1)
}