body{
    max-width: 80%;
    margin: 0 auto;
}

.dishes-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dish-card{
    display: flex;
    flex-direction: column;
    transition: transform .2s;
    
}

.dish-image{
    max-width: 250px;
    
}

.dish-card:hover{
    transform: scale(1.1)
}